h1 {
    color : red;
}
button {
    width: 120px;
    height: 60px;
    margin: 10px;
    font-size: 24px;
    background-color: #f0f0f0;
    color: #666666;
    border-radius: 12px;
    border: none;
    box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffffff;
  }

button:active {
    box-shadow: inset 5px 5px 10px #c0c0c0, inset -5px -5px 10px #ffffff;
  }

  body {
    background-color: aquamarine;
  }
p {
    color : blue
}